
<div class="component-wrapper" style="background: linear-gradient(to right, rgba(255,255,255,0) 20%,
rgba(255,255,255,1)), url(../../assets/movieimages/inhell2.jpg);
background-position: center;
  background-size:cover;
  background-repeat: no-repeat;">
  <div class="content-container">
    <div class="content-text">
      <h1>{{movieData.title}}</h1>
      <h3>{{movieData.character}}</h3>
      <h5>{{movieData.overview}}</h5>
      <h5>{{movieData.releaseDate}}</h5>
    </div>
    <div class="image-container">
      <div class="preview-image">image1</div>
      <div class="preview-image">image 2</div>
      <div class="preview-image">image 3</div>
    </div>
  </div>
</div>
