/* You can add global styles to this file, and also import other style files */

.main-split-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


.movies-div {
  box-sizing: border-box;
  border: 2px solid blue;
  width: 75%;
  position: absolute;
  z-index: 10;
  left:0;
  top: 0;
  background: rgb(238,238,238);
  background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(251,251,251,1) 58%, rgba(255,255,255,0.5046219171262255) 100%);
}

.globe-div {
  box-sizing: border-box;
  border: 2px solid red;
  width: 40%;
  height: 100%;
  position: fixed;
  z-index: -10;
  right:0;
  top: 0;
  background: white;

}
